@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.tree-view {
  max-height: 70vh;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tree-item {
  user-select: none;
}

.tree-item .children {
  border-left: 1px dashed #ccc;
  margin-left: 12px;
}
